# In the Ubuntu/Debian repos
scipy
numpy
matplotlib
cython
libboost_python

# Use pip
scikit-learn==0.13
scikit-image
clint

# May need a bit of manual tweaking
pyvlfeat (manual download, change dep libboost-python-mt-2.6 to 2.7, pip install
-e)
